.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.round{
    -fx-border-radius: 50;
}
.big-check-box > .box > .mark {
    -fx-padding: 0.8em;
}

.check-box .box {

-fx-background-color: white;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: black;

}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}